header{ 
	border-top: 7px solid #EED547;
	height: 233px; 
	width: 100%; 
	background-image: url("../img/main_page/header-main-not-front.gif"); 
 	
	background-repeat: no-repeat; 

} 

.nav {
	margin-top: 60px;
}
 

.logo>img{ 
	margin-top: 25px;
	width: 230px; 
	height: 80px; 
	background-repeat: no-repeat; 
} 


.nav>ul{ 
	list-style: none; 
} 
.nav>ul>li>a{ 
	font-size: 14px;
	text-decoration: none; 
	color: black; 
	text-align: center; 
} 
.nav>ul>li>a:hover{ 
	border-bottom: 3px solid #EED547;
	opacity: .6; 
} 

a{ 
	text-decoration: none; 
	color: black; 
} 
li>a{ 
	font-family: Arial, serif; 
	font-size: 11px; 
	font-weight:bolder; 
	text-transform: uppercase; 
}
/*--------------------------------*/

.block-header {
	background: #e8e8e8;
	text-align: left;
	height: 70px;
	font-size: 20px;
	width: 100%;

}

.block-header h2{
	margin:0 0 40px 0;
	padding: 20px 0 20px 100px;
	color: #85B6CE;
}

/*--------------------------------*/
.wrapper {


	margin: 10px 0 0 100px ;
}

.wrapper h1 {
	background-color: gray;
	text-align: center;
	width: 90%;
}

.wrapper a {
	text-decoration: none;
	color: white;
}

article {
	text-align: center;
}
/*-----------------------------------------*/
footer{
	background-color: #4A4B4D;
	height: 152px;
}

footer img {
	margin: 10px;
	float:left;
	float: 10px;

}

footer ul {
	display: table;
	list-style-type: none;
	
}

footer li a{
	text-align: center;
	color:white;

}

footer a:hover {
	text-decoration: none;
	color: yellow;
}


